body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    padding: 2vw;
    background-color: #efeeee;
    color:#251605;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #e08219;
}

h3{
    color: #59a3c7;
}

h4{
    color: #e08219;
}

/* Left Side */

.left{
    position: absolute;
    display: flex;
    flex: 30%;
    flex-direction: column;
    float: left;
}

nav{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    width: 30%;
    height: 100%;
}
nav a{
    text-align: left;
    padding: 2vw;
    text-decoration: none;
    color:#251605;
}

nav a:hover{
    color: #e08219;
}

/* Right Side */

.content{
    position: absolute;
    display: wrap;
    flex-direction: column;
    width: 75%;
    top: 20%;
    left: 20%;
    padding: 20px;
}

/* Home */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 29%;
    max-width: 29%;
    padding: 0 6px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}

.profile{
    flex: 60%;
    max-width: 60%;
    padding: 0 10px;
  }

.profilepic{
    flex: 8%;
    max-width: 8%;
    padding: 0 8px;
}

.catalog{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    line-height: 28px;
  }

.thankyou{
    float: right;
}

/* Projects */

.content a:hover{
    color: #e08219;
  }

.content nav a{
    text-align: center;
    padding: 10px;
  }

  /* Blog */
  .blog h3{
    color:#e08219
  }